.nyc_output
coverage
dist
bin
lerna-debug.log
node_modules
npm-debug.log
yarn-error.log
_webpackOutput

# Generated metadata (only the root one is generated!)

/metadata.toml


# Phenomic things

*.bundle.js

# Cache

.eslintcache


# local tests


/htmllinter.config.js
/input.html
/examples/webpack_plugin_example/node_modules
/examples/webpack_plugin_example/yarn.lock
/examples/webpack_plugin_example/package-lock.json
